import(knitr)
import(moments)
import(xtable)
import(nortest)
S3method(VI,aov)
 S3method(VI,boxplot)
S3method(VI,data.frame)
S3method(VI,default)
S3method(VI,hist)
S3method(VI,histogram)
S3method(VI,list)
S3method(VI,lm)
S3method(VI,matrix)
exportPattern("^[[:alpha:]]+")
